[Unit]
Description=tilemill

[Service]
ExecStart=/startTilemill.sh
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/tilemill

[Install]
WantedBy=multi-user.target